:root{
    --darkBlue:#08090e;
    --verde : rgb(32, 156, 32);

    --violetColor:   rgb(132, 39, 169);
}

html{
    background-color: var(--darkBlue);
    height: 100vh;
    
}
body{
    font-family: 'Share Tech Mono', monospace;

    height: 100%;


}
h1{
    font-weight: 400;
}

.contenedor{
    width: min(95%, 120rem);
    margin: 3rem auto;
    height: 100%;
 
}

.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: var(--verde);
    margin: 3rem 0;
    max-width: 360px;
    white-space: normal;
    overflow: hidden;

    @media(min-width: 200px){
        font-size: 1rem;
        max-width: 260px;


    }
    @media(min-width: 700px){
        font-size:2rem;
        max-width: 100%;
        white-space: nowrap;

    }
    @media(min-width: 1300px){
        font-size: 3.5rem;
        max-width: 100%;
        white-space: nowrap;

    }

   

    

}



.title::after{
    content: '';
    border-right: 2px solid var(--violetColor);
    animation: titilar 1.5s linear infinite;
}

.buttonLink{
    color: var(--verde);
    text-decoration: none;
    font-weight: 600;
    padding: .6rem 1rem;
    border: 2px solid var(--verde);
    transition: .5s all ease-in-out;
    border-radius: 4px;
    font-size: .7rem !important;
    position: relative;
    background-color: var(--darkBlue);
    animation: buttonLinkAnimation 12s linear infinite;
    text-transform: uppercase;
}


@media(min-width:700px){
    .buttonLink{
        font-size: 1rem !important;
        padding: .8rem 1.5rem;

    }
}

.buttonLink::before{
    content: '';
    position: absolute;

    filter: blur(5px);
    top: 0;
    right: 0;
    bottom: 0;
    background-clip: padding-box;
    width: 100%;
    z-index: -1;
    animation: shadowAnimation 12s linear infinite ;
}



.index{
    background-color: rgba(0, 0, 0, 0.272);
   border: 1px solid var(--verde);
    width: fit-content;
    display: grid;
   
  

  
}

@media(min-width:1200px){
.index{

    grid-template-columns: 1fr 1fr;
}
}
.imagen-index{
    position: relative;
    z-index: 10;
    padding: 5rem 0;
    margin: 0 auto;
    width: 200px;
   
}
@media(min-width:1200px){
    .imagen-index{
        width: 700px;
        padding: 13rem 0;
        background-color: rgba(1, 0, 4, 0.149);

    }
}
.container-index{
    position: relative;
    padding: 5rem 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
}

@media(min-width:1200px){
    .container-index{
        width: 700px;
        padding: 13rem 0;

    }
}
.container-index .title{
    width: 7ch;
    animation: escribir 1s steps(6);
}
.emoji{
    font-size: .7rem;
  
    top: 47%;
    position: absolute;
    animation: mover 5s ease-in infinite;
}

@media(min-width:560px){
   .emoji{

  font-size: 1rem;   }
}

img{
    display: block;
    width: 100%;
}

.simple-text{
    color: var(--violetColor);
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.container-arrow{
    z-index: 100;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 30px;
}


.container-img{
    margin: 0 auto;
    width: 400px;
}

/*ANIMACIONES*/

@keyframes titilar {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1
        ;
    }
    100%{
        opacity: 0;
    }
}
@keyframes mover {
    0%{
        right: 100%;
    }
    50%{
        right: 40%;
    }
    100%{
        right: -50%;
        
    }
}

@keyframes escribir {
    from{
        width: 0;
    }
}

@keyframes buttonLinkAnimation {
    0%{
        border-color: var(--verde);
        color: var(--verde); ;
    }
    10%{
        border-color: #35e735;
        color: #35e735;
    }
    30%{
        border-color: rgb(84,38,38);
        color: rgb(84,38,38);
    }
    50%{
        border-color: rgb(177, 6, 177);
        color: rgb(177, 6, 177);
    }
    70%{
        border-color:rgb(35, 29, 204);
        color: rgb(35, 29, 204);
    }
    100%{
        border-color: var(--verde);
        color: var(--verde); ;
    }
}
@keyframes shadowAnimation {
    0%{
        background: var(--verde);
        background-image: linear-gradient(200deg, rgba(38,84,41,1) 0%, rgba(14,134,3,1) 90%); 

    }
    10%{
        background: var(--verde);
        background-image: linear-gradient(180deg, rgb(25, 215, 38) 0%, rgba(14,134,3,1) 90%); 
    }
    30%{
      
        background: rgb(84,38,38);
        background: linear-gradient(150deg, rgba(84,38,38,1) 0%, rgba(134,3,131,1) 90%);
    }
    50%{
        background: rgb(166,54,209);
        background: linear-gradient(50deg, rgba(166,54,209,1) 0%, rgba(134,3,131,1) 90%);
    }
    70%{
        background: rgb(35, 29, 204);
        background: linear-gradient(10deg, rgba(59,54,209,1) 0%, rgba(102,3,134,1) 90%);
    }
    100%{
        background: var(--verde);

        background-image: linear-gradient(355deg, rgba(38,84,41,1) 0%, rgba(14,134,3,1) 90%); 

    }
}

.contenedor{
    view-transition-name:page;
}

::view-transition-old(page){
    animation: fade .2s linear forwards;
}
::view-transition-new(page){
    animation: fade .3s linear reverse
}

@keyframes fade {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}