.container-juegos{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    @media(min-width: 1368px){
        flex-direction: row;
    }
   
}
.container-juego{
    margin: 0.5rem 2rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media(min-width: 1000px){
    .container-juego{
        margin: 1rem 2rem;
    }
}

.imagen-juego{

    width: 100%;
    min-width: 150px;
    max-width: 340px;
   

}

@media(min-width: 1368px){
    .imagen-juego{
        min-width: 500px;
        max-width: 500px;
        max-height: 300px;
        min-height: 300px;
    }
}
.imagen-juego img{
    height: 100%;
    object-fit: cover;

    
}
.titulo-juego{
    font-size: 2.5rem;
   
    color: var(--violetColor);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 2rem 0;
}

.consigna
{
    font-size: 2rem;
    color: var(--verde);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}
.game{
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
    background-color:black;
}

.input-word{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input-word input{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.contenido-tateti{
    display: grid;
    place-items: center;
    width: 50%;
}
.contenido-tateti .buttonLink{
    margin: 2rem 0;
}

.turnos{
    display: flex;
    align-items: center;
}
.turnos-p{
    padding: .5rem 1rem;
    color: var(--verde);
    font-size: 2rem;
    margin: 0 2rem;
}
.active{
    background-color: var(--violetColor)

}
.cuadrado{
    display: grid;
    place-items: center;
}
.cuadrado:is(:hover){
    cursor: pointer;
}
.cuadrado p{
    width: 7px;
    height: 5px;
   
}

.play-again{
    color: white;
    transition: .5s all ease-in-out;
    border: none;
    outline: none;
    background-color: transparent;
    padding: .5rem .5rem;
    border: 1px solid white;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0;
}

.play-again:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    

}
.container-mensaje{
    color: white;
    padding: 6rem 8rem;
    background-color: #100f10;
    border: 2px solid var(--verde);
    position: relative;
    top: 0%;
    opacity: .8;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

